{% extends 'base.html.twig' %}

{% block body %}

    <header class="start-area-header">
        <button class="header-button">Click</button>
        <div class="random-logo">test</div>
    </header>
    <div class="start-area-container">

        <header class="start-area-header">
            <h3 class="header-text">Examen Portfolio</h3>

            <div class="header-button-container">
                <button class="header-button">Bewijs</button>
                <button class="header-button">Verwijde</button>
                <button class="header-button">Verwijde</button>
            </div>


        </header>

    <section class="start-area-content">
        <div class="center-text-container">
            <h1>Mohammed Zarhbouch</h1>
            <h2>Software developer</h2>
            <div class="start-area-button-container">
                <button class="start-area-button">Over mij</button>
                <button class="start-area-button">Bewijs</button>
            </div>

        </div>
    </section>

    </div>
{% endblock %}